.typing-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    padding-right: 5px;
    max-width: fit-content;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace; /* fuente monospace para un efecto de escritura más auténtico */
    border-right: 2px solid rgb(255, 255, 255); /* Añade el cursor al final del texto */
    animation: typing 5s steps(40, end), blink-caret 0.65s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(255, 255, 255); }
}
